{% extends "layout.html" %}

<!-- Admin page for database manipulation -->

{% block title %} Admin {% endblock %}

{% block body %}

    <!-- View categories in db -->

    <div class="mb-3">
        <h1>Choose category!</h1>
        <form action="/shop" method="post">
            <!-- <input autocomplete="off" autofocus name="name" placeholder="Type product name" type="text"> -->
            <select class="form-class" name="category_name">
                <option disable selected>Select category</option>
                {% for name in category_names %}
                    <option>{{ name }}</option>
                {% endfor %}
            </select>
            <input type="submit"> 
        </form>

        <table class="table">
            <colgroup>
                <col span="2" style="background-color: rgb(136, 123, 123)">
                <col style="background-color:crimson">
            </colgroup>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Category-id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
        <tbody>
            {% for category in categories %}
            {% set id = category["id"] %}
            <tr>
                <td>{{ category["id"] }}</td>
                <td>{{ category["category_name"] }}</td>
                <td>
                    <form action={{ "/category/" ~ id }} method="delete" name="category_id">
                        <input type="submit" name="category_id" width="50" value="delete">
                    </form>
                <td>
            </tr>

            {% endfor %}
        </tbody>
    </div>

{% endblock %}