{% extends "layout.html" %}

<!-- Admin page for database manipulation -->

{% block title %} Admin {% endblock %}

{% block body %}

    <!-- TODO -->
    <h1 class="text-center">Categories: list of products</h1>
    <table class="table">
        <colgroup>
            <col span="2" style="background-color: rgb(83, 83, 83)">
            <col style="background-color:crimson">
        </colgroup>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Category name</th>
                <th scope="col">Category-id</th>
                <th scope="col">Product-id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Available stock</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            {% for product in products %}
            <tr>
                <td> {{ category["category_name"] }}</td>
                <td>{{ product["id"] }}</td>
                <td>{{ product["product_name"] }}</td>
                <td>{{ product["price"] }}</td>
                <td>{{ product["stock"] }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}