{% extends "layout.html" %}

<!-- This page displays the products of the category that the user typed in -->

{% block title %} Products {% endblock %}

{% block body %}

    <!-- TODO -->
    <h1>Examine products from {{ category_name }}</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Product-id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Available stock</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product["id"] }}</td>
                <td>{{ product["product_name"] }}</td>
                <td>{{ product["price"] }}</td>
                <td>{{ product["stock"] }}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}